html {
  scroll-behavior: smooth;
}


.hero {
  background-image: url("shop\ image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color:white;
}


.product-card {
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-10px);
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: green;
}

.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  font-size: 28px;
  padding: 12px 16px;
  border-radius: 50%;
  text-decoration: none;
}
