*{
    margin: 0;
    padding: 0;
}


.main{
    width: 100%;
    background-image :linear-gradient(to top , rgba(0,0,0,0.5)50%) ,url(/coffee.jpeg );
    background-position: center;
    background-size: cover;
    height: 90vh;
}

.content{
    width: 1200px;
    margin: auto;
    height: auto;
    color: #fff;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;


}

.content .par{
    padding-left: 20px;
    padding: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;

}
.content .cn{
    width: 160px;
    height: 40px;
    background: yellow;
    border: none;
    margin-bottom:10px ;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}
.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
.cn:hover{
    background-color: #fff;
}
.content span{
    color: #fdcfaa;
    font-size: 60px;

}

.card{
    margin: 30px;
    height: 500px;
    
    
}
.cards{
    display: flex;
    padding: 5px; 
    
}
